.genres-container {
  max-width: 80%;
  margin: 0 auto;
}

.genres-container h2 {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
  height: 100%;
}

.genres-container .genres {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
  height: 70vh;
}

.genres-container .genres .genre-wrapper {
  width: calc(100% / 4 - 30px);
  height: 28%;
  background-image: url(../assets/img/bg2.png);
  cursor: pointer;
  margin: 5px;
  transition: margin 0.3s ease-in-out;
}

.genres-container .genres .genre-wrapper h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

.genres-container .genres .genre-wrapper:hover {
  margin: 0;
}

.genres-container .genres .genre-wrapper:hover > h4 {
  backdrop-filter: blur(5px);
}
