.main {
  padding-top: 30px;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.719);
  color: var(--light);
  height: calc(100% - 100px);
}

.menu-button {
  display: none;
}

#left {
  margin-right: 10px;
}

.main .genres-wrap {
  max-width: 90%;
  margin: 0 auto;
}

.main .genres-wrap h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  text-align: center;
}

.all-genres-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all-genres-wrap h2 {
  font-weight: 500;
}

.arrow-btn i {
  color: white;
  cursor: pointer;
  transition: 0.3s linear;
}

.arrow-btn i:hover {
  color: rgb(189, 189, 189);
}

.main .genres-wrap .genres {
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 15px;
  overflow: auto;
  scroll-behavior: smooth;
}

.main .genres-wrap .genres::-webkit-scrollbar {
  display: none;
}

.genre-wrapper {
  min-width: 180px;
  height: 180px;
  margin-right: 10px;
  transition: 0.3s linear;
  position: relative;
  cursor: pointer;
  background-image: url(../assets/img/bg2.png);
  object-fit: cover;
  background-position: center;
  border-radius: 5px;
}

.genre-wrapper:hover {
  min-width: 140px;
  height: 140px;
}

.recommended-song-wrapper .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.recommended-songs-page {
  height: 100%;
}

.main-page-wrap {
  height: 100%;
  position: relative;
}

.main-recommended-songs {
  position: absolute;
  top: 260px;
  bottom: 0px;
  width: 100%;
}

.recommended-songs {
  height: 100%;
}

.recommended-songs,
.recommended-songs-page {
  max-width: 85%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.recommended-songs h2,
.recommended-songs-page h2 {
  font-weight: 500;
}

.recommended-song-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
}

.recommended-song-wrapper:hover {
  background-color: rgba(112, 112, 112, 0.24);
}

.recommended-song {
  display: flex;
  width: 90%;
  align-items: center;
}

.recommended-song .title-wrap {
  display: flex;
  width: calc(100% - 80px);
}

.recommended-song-wrapper .image-wrapper {
  height: 80px;
  width: 80px;
}

.recommended-song h4,
.recommended-song h5 {
  width: 40%;
  margin-left: 40px;
  width: 50%;
}

.recommended-song h4 {
  font-size: 18px;
  font-weight: 500;
}

.recommended-song h5 {
  font-size: 16px;
  font-weight: 400;
}

.recommended-song-wrapper button {
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.recommended-song-wrapper button img {
  height: 100%;
  width: 100%;
}

.recommended-song-wrapper button img:hover {
  filter: brightness(0) invert(1);
}

@media (max-width: 1580px) {
  .main {
    width: 75%;
  }

  .main .genres-wrap .genres {
    height: 150px;
  }
  .genre-wrapper {
    min-width: 130px;
    height: 130px;
  }
}

@media (max-width: 1200px) {
  .main {
    width: 68%;
  }

  .recommended-song h4,
  .recommended-song h5 {
    margin-left: 20px;
  }
}

@media (max-width: 935px) {
  .main {
    width: 65%;
  }
}

@media (max-width: 765px) {
  .main {
    width: 100%;
    padding-top: 15px;
  }

  .main-recommended-songs {
    top: 210px;
  }

  .menu-button {
    display: block;
    padding-left: 15px;
    margin-bottom: 20px;
  }

  .recommended-song .title-wrap {
    display: block;
  }

  .recommended-song h4 {
    font-size: 16px;
    width: 100%;
  }

  .recommended-song h5 {
    font-size: 14px;
    width: 100%;
  }
}
